<h1>Manage Your Theater!</h1>


    <%if @auditoriums %>
    <ul style= "list-style: none;" >
        <% @auditoriums.each do |auditorium| %>
            <li class= "auditorium"><a href="/auditoria/<%=auditorium.id%>">Auditorium <%=auditorium.id %></a></li>
        <%end%>
    </ul>

        <a href="/auditoria/new"><button>add an auditorium</button></a>

    <%elsif @orders %>
       <ul style= "list-style: none;" >
            <% @orders.each do |order| %>
                <li class "order">
                    <a href=""> Movie Ordered: <%=order.movie.title%></a><br>
                    <a href=""> Tickets Sold : <%=order.number_tickets_bought%></a><br>
                    <a href=""> Total: <%=order.total_price %></a><br>
                    </li><br>
            <%end%>
        </ul>
    <%end%>
