<br><br> <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %><br>

<%= render "form" %><br><br>

<p>choose from these auditoriums: </p>

<h4> Empty Auditoriums </h4>
    <ul class="list-inline" style="list-style: none;">
        <% @auditoriums.each do |auditorium| %>
            <%if auditorium.movie == nil %>
                <li> Auditorium <%=auditorium.id%> </li>
            <%end%>
        <%end%>


    </ul>
<h4> Occupied Auditoriums </h4>

 <ul class="list-inline" style="list-style: none;">
        <% @auditoriums.each do |auditorium| %>
            <%if auditorium.movie != nil? %>
                <li> Auditorium <%=auditorium.id%> </li>
            <%end%>
        <%end%>
</ul>


 <%= link_to 'Remove From Database',  { action: :destroy, id: @movie.id }, method: :delete, data: { confirm: 'Are you sure?' } %>


